<launch>
  <!-- RealSense RGB-D camera -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
  <arg name="launch_rviz" default="true"
       doc="Whether to start RViz" />
  <arg name="rvizconfig" default="$(find hironx_demo)/config/haircut.rviz"
       doc="Configuration file for RViz" />

  <!-- CFS Sensor -->
  <node pkg="cfs_sensor" type="cfs_sensor" name="cfs_sensor" output="screen">
    <param name="port" value="/dev/cfs_sensor"/>
  </node>

  <node pkg="rosbash" type="rosbash" name="cfs_sensor_calib_call"
        args="-c 'sleep 2; rosservice call /cfs_sensor_calib {}'" />
	
  <!-- Dynamixel scissors -->
  <include file="$(find dynamixel_scissors)/launch/dynamixel_scissors.launch">
    <arg name="port_name" value="/dev/ttyUSB0"/>
  </include>

  <!-- Left hand camera -->
  <node name="left_hand_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/left_camera"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="left_hand_camera"/>
  </node>

  <!-- Right hand camera -->
  <node name="right_hand_camera" pkg="usb_cam" type="usb_cam_node" output="screen">
    <param name="video_device" value="/dev/right_camera"/>
    <param name="image_width" value="640"/>
    <param name="image_height" value="480"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_frame_id" value="right_hand_camera"/>
  </node>

  <!-- rviz -->
  <node if="$(arg launch_rviz)"
          name="rviz" pkg="rviz" type="rviz"
          args="-d $(arg rvizconfig)" />
  
</launch>
